<html>
<head> 
   <title>My Doctor </title>
	<link rel="icon" type="image/x-icon" href="heart.png">
    <!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
</head>

<body  style="background-color:#e8fbff;">
    <div class="row d-flex justify-content-center" >
        <div class="col-md-10 mt-5 pt-5" style="box-shadow: 5px 10px #888888; color:#4873b8;">
            <div class="row z-depth-3"> 
                <div class="col-sm-4 bg-info rounded-left" >
                
                    <div class="card-block text-center text-white" >
                    
                        <i class="fas fa-user-tie fa-7x mt-5"> </i>
                        <br> <br> <br>
                        <h2 class="font-weight-bold mt=4">  <%= pationtsDetails.pname %> </h2>
                        <br> <br> <br>

                     </div>
                    
                </div>
                <div class="col-sm-8 bg-white rounded-right">
                    <h3 class="mt-3 text-center" style="font-weight:bold; font-size:35px;"> Information </h3>
                    <hr class="badge-primary mt-0 w-25" style="margin-left:350px;">
                    <div class="row">
                    <div class="col-sm-6"> 
                            <p class="font-weight-bold" style="font-weight:bold; font-size:25px;"> Username: </p>
                            <h6 class="text-muted" style="font-size:20px;"> <%= pationtsDetails.pemail %> </h6>
                        </div>
                        <div class="col-sm-6"> 
                            <p class="font-weight-bold" style="font-weight:bold; font-size:25px;"> Phone: </p>
                            <h6 class="text-muted" style="font-size:20px;"> <%= pationtsDetails.pphone %>  </h6>
                        </div>
                        <div class="col-sm-6"> 
                            <p class="font-weight-bold" style="font-weight:bold; font-size:25px;"> Date of Birth: </p>
                            <h6 class="text-muted" style="font-size:20px;"> <%= pationtsDetails.pdob %>  </h6>
                        </div>
                        <div class="col-sm-6"> 
                            <p class="font-weight-bold" style="font-weight:bold; font-size:25px;"> Gender: </p>
                            <h6 class="text-muted" style="font-size:20px;"> <%= pationtsDetails.pgender %>  </h6>
                        </div>
                    </div> 
                    <br> <br>
                    <h4 class="mt-3"> Past Appointment Records  </h4>
                    <hr class="bg-primary">
                    <div class="row"> 
                     <% if(pastappointments != ''){ %>
                        <table style="padding:20px;margin-left:8px;">
                        
                            <tr style="padding:20px;">
                                <th> No </th>
                                <th> Appoitment Date </th>
                                <th> Appoitment Time </th>
                                <th> Doctor Name </th>
                                <th> Description  </th>
                            </tr>
                             <% for(var i = 0; i< pastappointments.length; i++) {%> 
                            <tr>
                            <td style="padding:5px;"> <%= i+1 %> </td>
                                <td style="padding:5px;"> <%= pastappointments[i].adate%> </td>
                                <td style="padding:5px;">  <%= pastappointments[i].atime%> </td>
                                <td style="padding:5px;">  <%= pastappointments[i].adocname%> </td>
                                <td style="padding:5px;">  <%= pastappointments[i].adescription%>  </td>
                            </tr>
                          
                           
                             <% } %>
                        </table>
                          <% }else { %>
                <h1> No records </h1>
           <% } %>
                    </div>
                    <hr class="badge-primary">
                </div>
            </div>
            
        </div>  
    </div>   
</body>

</html>
